
/*
=======================
Estilização Global
=======================
*/

body {
    font-family: Arial, Helvetica, sans-serif; /* Altera o tipo de fonte presente no documento*/
    background-color: #f7f7f7; /* Altera a cor de fundo do body */
    display: grid; /* Faz com que o body se comporte como um grid */
    justify-items: center; /* Alinha os itens no centro do grid */
}

p {
    font-size: 20px; /* Alterando o tamanho de parágrafo de 16px para 20px*/
}

a {
    text-decoration: none; /* Tira qualquer decoração que tenha na tag a*/
}

img {
    max-width: 100%; /* Evita que o overflow da imagem, a img ocupa 100% do elemento pai*/
    display: block; /* Faz com que a img se comporte sempre como um bloco, ou seja do inicio ao fim do container*/
}

li {
    list-style: none; /* Tira as bolinhas */
}

p,h1,h2,h3 {
    margin: 0; /* Remove a margem padrão do navegador */
}

/*
=======================
Estilização do Header
=======================
*/

.menu {
     display: flex; /* Alinha os itens na horizontal*/
     gap: 20px; /* Cria um distanciamento entre os itens*/
}

.menu a {
    background-color: #ffffff;
    padding: 15px 30px; /* Espaçamento interno, quando utilizamos o atalho padding com dois valores, o primeiro valor é para cima/baixo e o segundo valor para direita/esquerda */
    border-radius: 4px; /* Arredonda as laterais da borda */
    color: black;
    text-transform: uppercase; /* Deixa o texto com letras maiúsculas */
}

.menu a:hover {
    background-color: #ee2211;
    color: #ffffff; /* Altera a cor do texto para branco */
}

/*
=======================
Estilização do Conteudo
=======================
*/

.conteudo {
    display: grid; /* Faz com que o conteúdo se comporte como um grid */
    grid-template-columns: 1fr 1fr; /* Cria duas colunas com o mesmo tamanho */
    max-width: 1000px; /* Limita o tamanho do conteúdo */
}

.introducao{
    background-color: #ffffff;
    padding: 40px;
    text-align: right;
    display: grid;
    align-content: center;
    justify-items: end;
    gap: 20px;
}

.subtitulo {
    font-size: 64px;
    text-transform: uppercase;
    padding: 40px;
    color: rgba(0, 0, 0, 0.2);
    text-align: end;
    align-self: center;
}

.botao{
    background-color: #ee2211;
    color: #ffffff;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 4px;
}


/*
=========================
Estilização das Vantagens
=========================
*/

.vantgens {
    display: grid;
    background-color: #ffffff;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 40px;
}

.vantgens-item {
    grid-column: 2;
    
}




/*
=====================
Estilização do Rodapé
=====================
*/
.rodape {
    background-color: #ffffff; /* Cor de fundo do rodapé */
    padding: 40px 0; /* 40px para cima e para baixo e 0 para direita e esquerda */
    text-align: center; /* Alinha o texto no centro */
    width: 100%; /* Faz com que o elemento atual fique 100% do tamanho do elemento pai (Você não está utilizando display)*/
    box-sizing: border-box; /* Faz com que o padding não aumente o tamanho do elemento */
}